<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color: rgb(255, 0, 127)">
    <center>
        <h1 style="color: rgb(255,255,255)">
            N3 Guilherme Perottoni e Ramon Ferreira
        </h1>
        <h1 style="color: rgb(255,255,255)">
            Crud de Filmes
        </h1>
        <h1 style="color: rgb(255,255,255)">
            Thank you very much!!
        </h1>
        <h3>
            <a href="https://github.com/LintangWisesa" 
            style="font-family: Arial" 
            target="_blank">
            </a>
        </h3>
    </center>
</body>
</html>
